### SQL Tasks

This notebook contains sql query tasks.

**a.** A column to be called “sale_price_zscore” that represents, for each sale/row, the Z-Score of “SALE_PRICE” of that row as normalized against the entirety of the dataset

![](z-score.png)


Z = Z-Score
X = Actual value
μ = Mean value
σ = Standard Deviation

In [ ]:
UPDATE nyc_sales_table
SET sale_price_zscore = 
(
    SELECT (SALE_PRICE - AVG(SALE_PRICE) OVER ()) / (STDEV(SALE_PRICE) OVER ()) as sale_price_zscore
    FROM nyc_sales_table
);

**b.** A column to be called “sale_price_zscore_neighborhood” that represents, for each sale/row, the Z-Score of “SALE_PRICE” but as normalized based on the NEIGHBORHOOD and BUILDING_CLASS segment to which that row belongs

In [ ]:
UPDATE nyc_sales_table
SET sale_price_zscore_neighborhood = 
(
    SELECT BY NEIGHBORHOOD, BUILDING_CLASS,(SALE_PRICE - AVG(SALE_PRICE) OVER ()) / (STDEV(SALE_PRICE) OVER ()) as sale_price_zscore_neighborhood
    FROM nyc_sales_table
    GROUP BY NEIGHBORHOOD, BUILDING_CLASS
);

**c.** Columns that compute “square_ft_per_unit” and “price_per_unit”

In [ ]:
UPDATE nyc_sales_table
SET price_per_unit = 
(
    SELECT
      UNIT,
      AVG(SALE_PRICE) AS average_revenue_per_sale
    FROM nyc_sales_table
    GROUP BY UNIT;
);

UPDATE nyc_sales_table
SET square_ft_per_unit = 
(
    SELECT
      SQUARE_FT,
      AVG(SALE_PRICE) AS square_ft_per_unit
    FROM nyc_sales_table
    GROUP BY SQUARE_FT;
);